body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:antiquewhite;
    padding:5px;

}
.span{
    color:red;
}

#main-heading{
    text-align:center;
    

}
#form{
    display:flex;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
    margin: 20px auto;
    flex-wrap: wrap;
    background-color:white;
    padding:20px;
    border-radius:12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 900px;
    

    
}
.task-input{

    width:250px;
  
    padding:5px;
}

.task-input,#category,.btn{
    height:40px;
    border-radius:10px;
    font-size:18px;

}

.btn{
    background-color:rgb(193, 153, 102);
    color:black;
    border:2px solid black;
    cursor:pointer;
    padding:5px;
    transition:all 0.3s ease;
}

.btn:hover{
    color:white;
    background-color:rgba(153, 175, 63, 0.661);
    box-shadow: 2px 8px 16px black;
}

.list li ,
.completed-list li{
    display:flex;
    align-items: center;
    gap:10px;
    margin:10px 0px;

}